<div class="wrapper">
  <div class="text-wrapper">
    <p>
      Welcome to Patristic Page a Day! We are a community of Christians who are reading the writings of the Church
      Fathers, in order to better acquire the mind of Christ. But we are also busy people! How do we do it? By reading
      two pages a day, we are able to slowly, but consistently, receive the wisdom and guidance of those great saints
      and luminaries who have gone before us.
    </p>
    <br>
    <p>On this site, you can find information about the readings.
      <!-- , as well as where to find the current book. -->

    </p>
    <br>
    <p>
      We are currently reading a wonderful book by St. Basil the Great, entitled "On Christian Ethics". Please feel
      free to jump right in and join our community at any time!
    </p>
  </div>
</div>