p {
    color:white;
    font-size: 1.3rem;
}


.text-wrapper{
    background-color: #020c00fa;

    @media (min-width:1470px){
      padding: 4rem;
    }

    padding: 6rem;
}

@media (min-width: 1470px){
.wrapper {
    padding: 5rem 30rem;
    background-color: #042201ce
}
}