.wrapper {
    padding: 3rem 30rem;
    text-align: center;
}

.table-item {
    padding: 1.3rem;
}

.table-item.odd {
    background-color: lightgray;
}

.table-header {
    font-size:3rem;
}

.table-header:hover {
    color: green;
}

.table-item {
    padding: 2rem;
    font-size: 1.5rem;
    // border: 1px solid black;
}

.header{
    font-weight:bold;
    font-size: 3rem;
}

