<div class="wrapper">
   
   <h2 class="header">Today's Reading: pgs {{currentReading}}</h2>
    
      <div *ngIf="readings" >
  <h2 class="table-header my-4" (click)="toggleShowAll()">Click Here To View All Readings</h2>
        <div *ngIf="showAllReadings">
      <div *ngFor="let reading of readings; index as i">
        <div class="table-item" [ngClass]="{'odd': (i % 2)}">
          <span>Date: {{reading.date.format('LL')}}</span>
          <span class="pl-3">Pages: {{reading.pages}}</span>
        </div>
      </div>
    </div>
    </div>
    
  </div>